.Nav_Bar{
    display: flex;
    flex-flow:row nowrap;
    margin-left: 33%;
    margin-top: 2.5%;
    background-color: rgba(10, 10, 10, .6);
    border-radius: 30px;
    width: 35%;
    height: 7%;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top: 0px;
    transition-duration: .2s;
}

html{
    scroll-behavior: smooth;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-size: xx-large;
    font-weight: 200;
    width: 70px;
    height:fit-content;
    padding: 3px;
    text-align: center;
    justify-items: center;
}

.nav-link:hover{
    color: lightgreen;
    font-weight: 200;
    transition-duration: .2s;
}

